#holidays-widget-wrapper {

}

.holidays-widget {
  display: none;
  width: 60%;
  height: 450px;
  background: white;
  border: 1px solid #00ca9b;
  margin: auto;
}

.holidays-widget:first-child {
  display: block;
}

#step1-budget .header-question{
  height: 150px;
  background: white;
}

#step1-budget .answers {
  height: 300px;
  background: #46adad;
  position: relative;        
} 
#step1-budget .answers:after, #step1-budget .answers:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 9;
}

#step1-budget .header-question:after {
	border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;
}
#step1-budget .header-question:before {
	border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;
}

#step1-budget .answers:after {
  border-color: rgba(70, 173, 173, 0);
  border-bottom-color: #46adad;
  border-width: 25px;
  margin-left: -25px;
}
#step1-budget .answers:before {
  border-color: rgba(70, 173, 173, 0);
  border-bottom-color: #46adad;
  border-width: 31px;
  margin-left: -31px;
}
#step1-budget .budget-value {
  border: 0; 
  color: #f6931f; 
  font-weight: bold;
}
#step2-period {
    
}

#step3-holiday-type {

}

#step4-passengers {

}

#step5-roulette {
    
}

.prev-button {

}

.next-button {
  
}

.progress-bar {

}